<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://schema.phpunit.de/coverage/9 https://schema.phpunit.de/coverage/9/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         displayDetailsOnPhpunitDeprecations="false"
         colors="true">
    <testsuites>
        <testsuite name="My Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>  

</phpunit>
